body {
    font-family: sans-serif;
    font-weight: normal;
    font-size: 100%;
    color: white;
    
    margin: 0;
    background-color: #9567B4;
}
.contenido {
    display: flex;
    color:black;
    
    align-items: center;
    justify-content: center;
    
    margin: 0;
    padding: 0;
    min-width: 100vw;
    min-height: 100vh;
    
}
.creacion-cuenta {
    font-size: 70%;
    text-align: center;    
    margin-top: 15px;
}

.creacion-cuenta p {
    display: block;
    color: black;
    margin-bottom: 3px;
}

.creacion-cuenta p:hover {
    color: #9567B4;
}

#centro{

    max-width: 320px;
    width: 100%;
    
}

.creacion-cuenta {
    font-size: 250%;
    color:black;
    text-align: center;
    margin-bottom: 30px;
}


#form input{
    
    font-size: 110%;
    color: black;
    
    display: block;
    width: 100%;
    height: 40px;
    
    margin-bottom: 10px;
    box-sizing: border-box;
   
}

#form .crear{
    color: white;

}
#form .crear:hover{
    color: black;

}



#form label{
    color: black;
}


.crear{
    
    font-size: 110%;
  
    width: 100%;
    height: 40px;
    border: none;
    
    background-color: #9567B4;
    
    margin-top: 10px;
}

.crear:hover{
    background-color: #EBECED;
    color: black;

}

.centro{
    width: 100%;
    padding: 50px 30px;
    background-color: white;
    
    box-shadow: 0px 0px 5px 5px rgba(0,0,0,0.15);
    box-sizing: border-box;
}

.container{
     background-color: white;
    height: 80px;
  
}

.container a{
    font-size: 110%;
    background-color: #9567B4;
    margin-right: 55px;
    color: white;
    padding: 10px 20px;
    
    text-decoration: none;

}

.container a:hover{
    background-color: #EBECED;
    color:black;
}

.logo i{
    margin-top: 25px;
    margin-left:55px;
    font-size: 150%;
    color:#9567B4;
}

ul{
    position: absolute;
    right: 0;
    margin-top: -20px;
}