@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap");

* {
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
}

body {
    background-color: #dfdfdf;
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding-top: 3rem;
}

.add {
    background-color: #9e3a9e;
    border-radius: 3px;
    border: none;
    color: white;
    cursor: pointer;
    padding: 0.5rem 1rem;
    position: fixed;
    top: 1rem;
    right: 1rem;
}

.row{
    display: flex;
    width: auto;
}

.menu{
    background-color: rgb(255, 73, 73);
    width: 40rem;
    border: 0.2rem solid white;
    border-radius: 0 1rem 1rem 0;
}

.menu input{
    margin: 1rem 0 0 1rem;
    border: 0.1rem solid white;
    border-radius: 0.5rem;
}


.notas{
    height: 100%;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}



.note {
    background-color: #fff;
    box-shadow: 0 0 10px 4px rgba(0, 0, 0, 0.1);
    margin: 20px;
    min-height: 400px;
    width: 400px;
    font-size: 1.6rem;
    border: 2px solid white;
    border-radius: 1rem;
}

.notes {
    border: 2px solid white;
    border-radius: 1rem;
}
.note .tools {
    background-color: #9e3a9e;
    align-items: center;
    padding: 0.3rem;
    border-bottom: none ;
    border-radius: 1rem 1rem 0 0;
}


/* .note .tools .edit {
    background-color:#ffc400;
    border: none;
    color: rgb(255, 255, 255);
    cursor: pointer;
    margin-left: 0.5rem;
    height: 0.8rem;
    border-radius: 5px;
} */

.note .tools button {
    background-color: transparent;
    border: none;
    color: rgb(255, 255, 255);
    cursor: pointer;
    margin-left: 0.5rem;
    height: 0.8rem;
    border-radius: 5px;
}

.input-titulo{
    width: 100%;
    padding: 1rem;
    border: none;
    font-size: 3.2rem;
    background-color: transparent;
    border-bottom: 0.1rem solid white;
    color: white;
}

.input-titulo::placeholder{
    color: white;
}

.categoria{
    padding: 1rem;
    border: none;
    background-color: transparent;
    color: white;
    font-size: 2rem ;
}

.categoria::placeholder{
    color: white;
    font-size: 2rem;
}


.note .main {
    background-color: #eee;
    overflow: hidden;
    height: 400px;
    width: 100%;
    border-radius: 0 0 1rem 1rem;
}

.note textarea {
    outline: none;
    font-family: inherit;
    font-size: 2rem;
    border: none;
    height: 400px;
    width: 100%;
}   

.note .hidden {
    display: none;
}

.tools h1{
    display: inline;
}

.div__buttons{
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding-right: 1.2rem;
    align-items: center;
}


