body{
    align-items: center;
    align-content: center;
    margin: 0;
    padding: 50%;
}
.container{
    display: flex;
    flex-direction: column;
    background-color: aquamarine;
    margin: 0;
}
.form{
    flex-direction: column;
}